*.iml
.idea
.ipr
.iws
*.diff
*.patch
*.bak
.DS_Store
node_modules/
.project
.settings
npm-debug.log
.*proj
.svn/
*.swp
*.swo
*.log
yarn-error.log
.vscode
package-lock.json
examples/project.config.json
examples/project.private.config.json
/.run
yarn.lock
