.steps-container {
  display: flex;
  width: 100%;

  &-row {
    flex-direction: row;

    &-reverse {
      flex-direction: row-reverse;
    }
  }

  &-column {
    flex-direction: column;

    &-reverse {
      flex-direction: column-reverse;
    }
  }
}
