var nameData = [
  '顾拍', '于第', '黄害等', '彭付', '戚转', '屈见', '酆经', '殷乡杰', '苗清', '郝育号', '姜算', '卜非', '舒经屋', '平止', '茅农词',
  '伏伦语', '杨级', '卞舞', '孔再肯', '孟游副', '鲁击', '钱皇', '屈平', '严水', '于挥归', '范娘具', '沈承', '贝景华', '王吃暗', '花妻',
  '岑应假', '陈编', '韩除找', '平言待', '葛官烈', '章春木', '董参', '茅玩真', '于吧合', '郑门板', '唐够买', '柳得', '秦感母', '何劳调',
  '禹岁台', '史未', '卫维气', '屈让', '周歌', '堪贝', '孙中管', '谢劳亲', '雷问授', '施臓托', '奚金', '韦场考', '汪武不', '王流', '伏精',
  '庞乾', '沈众转', '孟仍', '明视', '唐骨', '吴汉', '彭牙收', '邵块贝', '乐拥', '臧干', '纪合还', '萧呼', '王降孤', '黄席', '堪派',
  '陈更封', '祁喜宣', '屈吃', '邹几己', '陶几又', '费管', '柳贝', '罗罗', '明帝', '乐盖', '许遍胡', '杨报', '项进', '尤失靠', '谈苏',
  '计记', '伍反', '顾革', '严顿越', '姚布去', '郎七', '狄何正', '茅规', '金校付', '华友', '苗心模', '臧志印', '鲍练遍', '倪方品', '魏反友',
  '汪脚', '熊帝毕', '蒋球', '蒋绝', '祝往', '禹管里', '章任勒', '窦喊街', '倪王室', '臧智含', '时房九', '倪佛乱', '鲁划真', '云无系',
  '董创', '皮反秘', '俞因婚', '纪雨动', '窦系困', '窦朋密', '袁常供', '沈拥', '屈小', '邹护坦', '褚暗', '潘量吗', '褚优五', '陶船', '孔更',
  '潘某', '皮最恋', '伏任广', '周短尽', '鲍终', '彭声农', '谢适银', '毛屋印', '屈吉职', '何微', '贝余获', '卜门男', '韩贝钟', '平自毕',
  '花热阳', '孟越', '萧四', '滕朋', '卜句', '云可', '喻剧', '汤雷', '陶棋式', '戴至备', '冯程四', '蒋河', '茅车', '熊临', '狄遍品',
  '沈汽没', '邬激历', '郎简都', '赵罪况', '计运', '凤钟', '周只多', '康饭', '曹阵快', '史示其', '苗句', '汪上', '任加呀', '傅很', '花还',
  '茅医', '苏一', '王纳', '姜吗', '禹七', '乐按林', '倪呀岁', '郎最更', '祁终', '昌脸势', '禹土', '纪将', '屈然', '杨泪', '赵总',
  '和忘毛', '廉于熟', '奚村四', '周得', '邹谁', '伏准景', '卞善师', '史那艺', '吕什用', '马那', '尤送冷', '郝然听', '平道', '贝诉', '马玩',
  '窦翻自', '云话助', '韩痛', '毕登', '韩怕半', '喻渐', '鲍快', '柳九许', '云释', '葛每党', '成乡', '卜阵力', '祝换请', '花九木', '章吃',
  '倪诺', '鲍程朋', '柏思退', '卞书接', '史阳', '邵已没', '米说', '董意', '罗列曾', '明雄', '施寻', '纪境', '葛通', '陈伊', '柏迷谁',
  '赵坚', '傅算', '云这', '薛笑', '顾鸟', '贺战', '奚第', '成在基', '柳玩由', '凤諣', '和叫', '戚哪', '潘字', '毛诉声', '何两展',
  '朱最', '韦律拥', '卞套黑', '赵万', '王卡', '伏神条', '宋罪', '唐至', '韦紧', '姚天', '傅合', '张伊供', '张激见', '史武', '贝留身',
  '金离', '潘旧娘', '屈越', '褚类', '倪确', '堪定', '常验大', '韩招陈', '傅雄', '许费算', '元对', '尹到', '卞富又', '齐么越', '伍害查',
  '韦否', '韩胡', '云习', '时值带', '孔应收', '顾派点', '魏叫旧', '韩斗', '袁佛', '钱笔', '任眼余', '雷普皇', '柏美我', '祝存', '罗时层',
  '沈吃妙', '史鲁', '郑叶冰', '舒睛欢', '尤越', '祁准', '毕写得', '严行', '孙城', '水妈', '何复', '奚边', '奚奥除', '戚刻', '尹亚',
  '尹救', '岑示显', '蒋进', '岑迹菜', '康又', '滕遍', '方降坤', '李座岛', '沈简区', '水料准', '伏以', '安黑东', '韦节', '元低', '水群够',
  '于击谢', '鲁稜', '沈哪的', '史向色', '狄只', '常官论', '喻研慢', '何座收', '伍费次', '康却脸', '宋超', '傅雷', '毛想高', '庞奖',
  '贺佛使', '项下战', '奚起精', '章朝跟', '柳公', '尤际病', '周象林', '许圣', '周早专', '时节题', '姜到妙', '彭杰建', '齐走技', '常响处',
  '庞派领', '庞玛是', '酆外劳', '陈放', '褚东随', '邵统', '朱也束', '秦会甚', '贝争听', '廉民满', '酆建', '韩保诉', '项森', '戚片巴',
  '华海州', '鲁叶够', '项条', '时鸟', '凤鱼众', '项字', '梁见', '计冲', '秦趣', '贺统', '和向', '陈集', '陶察总', '潘松旧', '方当',
  '葛待近', '姜数', '云史变', '褚雪室', '皮易', '苗动回', '薛黄阿', '毕火阳', '鲁余采', '朱手托', '平健', '施曾抱', '时容巨', '臧引',
  '萧姆', '伍足', '梁致', '倪仍', '孔山日', '唐摇', '茅演', '祁大', '梁困脚', '常起放', '邵康', '吕世', '凤节', '岑百试', '苏收既',
  '昌担纸', '纪则', '柳考', '郎群招', '毕费', '任夏', '康超', '毛干雨', '酆哪典', '雷然朋', '成站报', '伏生', '戴公', '苏授', '宋懂越',
  '戴枪', '李看姆', '吴须', '朱指', '堪影责', '水烧广', '奚员山', '贺那', '朱五', '赵少莱', '殷给些', '庞莱规', '顾说务', '钱社', '凤编',
  '倪台长', '余村负', '华数', '项量', '庞剧万', '邹毕古', '章雪约', '穆商美', '祁骨', '杨么', '伏住赛', '鲁居坤', '马枪', '凤养产',
  '邵白地', '钱许', '喻到坐', '褚纳压', '汤亮', '喻维', '舒书', '褚看', '张主博', '邬论近', '余馆领', '张将休', '米赶', '成周', '黄激士',
  '倪生男', '元第价', '何黑', '张草程', '狄刘灵', '苗演', '朱双或', '邵顶', '施馆究', '郝除市', '邹种', '卜临', '钱听因', '伏依托', '于祖',
  '倪财国', '穆香', '许份并', '蒋几', '常社', '施朋', '赵东', '宋验玛', '钱急忘', '邹产'
];

var apiArray = [
  'https://api.66mz8.com/api/rand.portrait.php?type=%E5%8A%A8%E6%BC%AB',
  'https://api.uomg.com/api/rand.avatar?',
  'https://api.sunweihu.com/api/sjtx/api.php?'
]

// 获取昵称
var assignName = function (index) {
  return nameData[index];
}

// 获取头像api
var getApi = function(index){
  return apiArray[index];
}

module.exports = {
  assignName: assignName,
  getApi:getApi
}
