@import "./_base.less";

.hairline() {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    transform: scale(.5);
    transform-origin: 0 0;
    pointer-events: none;
    box-sizing: border-box;
    border: 0 solid @border-color-split;
}

.active() {
    opacity: 0.15;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: inherit;
    border-radius: inherit; /* inherit parent's border radius */
    transform: translate(-50%, -50%);
    content: ' ';
    background-color: @active-color;
    border-color: @active-color;
}

// 解决全屏幕机型底部适配问题
.safe-area-inset-bottom() {
    padding-bottom: constant(safe-area-inset-bottom) !important; /* 兼容 iOS < 11.2 */
    padding-bottom: env(safe-area-inset-bottom) !important; /* 兼容 iOS >= 11.2 */
}