@import "../../config/styles/_base.less";
@import "../../config/styles/_mixins.less";

// 按钮类型
@types:{
  error: error;
  default: main;
  success: success;
  warning: warning;
}

.btn-hover::before{
  .active();
}

.special-container{
  display: flex;
}

.l-btn{
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 28rpx;
  position: relative;
  color: #fff;
  padding: 0 12rpx;
  display: inline-flex;
  box-sizing: border-box;

  // img-size
  &-img{
    &-mini{
      width: @btn-height-mini/2;
      height: @btn-height-mini/2;
    }

    &-medium{
      width: @btn-height/2;
      height: @btn-height/2;
    }

    &-large{
      height: @btn-height-large/2;
      width: @btn-height-large/2;
    }
  }

  // Size
  &-long{
    border-radius: 0;
    height: 88rpx;
    width: 100%;
  }

  &-medium{
    height: @btn-height;
    min-width: @btn-width;
  }

  &-large{
    height: @btn-height-large;
    min-width: @btn-width-large;
  }

  &-mini{
    height: @btn-height-mini;
    min-width: @btn-width-mini;
    font-size: @size-font-mini;
  }

  //Type
  &-default{
    .theme(background-color, @t-main-color);
  }

  &-success{
    .theme(background-color, @t-success-color);
  }

  &-warning{
    .theme(background-color, @t-warning-color);
    color: #333333;
  }

  &-error{
    .theme(background-color, @t-error-color);
  }


  // Shape
  &-square{
    border-radius: 0;
  }

  &-semicircle{
    border-radius: @btn-circle-size;
  }

  &-large&-semicircle{
    border-radius: @btn-circle-size-large;
  }

  &-mini&-semicircle{
    border-radius: @btn-circle-size-mini;
  }

  &-circle{
    border-radius: @btn-circle-size/5;
  }

  &-large&-circle{
    border-radius: @btn-circle-size-large/5;
  }

  &-mini&-circle{
    border-radius: @btn-circle-size-mini/5;
  }

  // Plain

  each(@types, {
    &-@{key}&-plain{
      background-color: #fff;
      .theme(color, '@{t-@{value}-color}');
      .theme(border, '2rpx solid @{t-@{value}-color}');
    }
  })

  // Loading
  &-loading{
    opacity: 0.6;
    display: inline-block;
    vertical-align: middle;
    width: 24rpx;
    height: 24rpx;
    background: transparent;
    border-radius: 50%;
    border: 4rpx solid @btn-loading-color;
    border-color: @btn-loading-color @btn-loading-color @btn-loading-color transparent;
    animation: btn-spin 0.6s linear;
    animation-iteration-count: infinite;

    each(@types, {
      &-@{key}{
        .theme(border, '4rpx solid @{t-@{value}-color}');
        .theme(border-color, '@{t-@{value}-color} @{t-@{value}-color} @{t-@{value}-color} transparent');
      }
    })
  }

  // Disabled
  &-disabled{
    opacity: 0.8;
  }
}

.icon{
  display: flex !important;
}

.margin{
  &-mini{
    margin-right: 10rpx
  }

  &-medium{
    margin-right: 18rpx
  }

  &-large{
    margin-right: 24rpx
  }

  &-long{
    margin-right: 24rpx
  }
}

@keyframes btn-spin{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}
